body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background-color: #CFD8DC;
    background-repeat: no-repeat
}

.card {
    background-image: url("https://i.imgur.com/dpqZJV5.jpg");
    background-size: cover;
    width: auto;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #9E9E9E;
    margin-top: 50px;
    margin-bottom: 20px
}

.time-font {
    font-size: 48px
}

.sm-font {
    font-size: 18px
}

.med-font {
    font-size: 24px
}

.large-font {
    font-size: 32px
}